html{
    background-color: #ffffff;
    width: auto;
    margin: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.display {
    background-color: lightsteelblue;
	width: auto;
	margin: 0 auto;
	padding: 5px;
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
}

h1{
    background-image: url('/img/header_image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
}
